# Project exclude paths
/.gradle/
/app/build/
/build/
.idea/workspace.xml
.idea/shelf/
.idea/httpRequests/

# Keystore & secrets
*.jks
*.keystore
local.properties
keystore.properties
*.pem
*.p12
keystore/

# Optional but recommended
secrets/
*.env
.env*