# Project exclude paths
/.gradle/
/app/build/
/build/
.idea/caches/deviceStreaming.xml
.idea/workspace.xml
.idea/shelf/
.idea/modules/
.idea/httpRequests/

# Kotlin compiler session and error logs
.kotlin/

# Keystore & secrets
*.jks
*.keystore
local.properties
keystore.properties
*.pem
*.p12
keystore/

# Optional but recommended
secrets/
*.env
.env*
/web/dist
/web/node_modules
